<h1>Add a new Merchant</h1>

<form method="post" action="/merchants">
  <label for="merchant-name">Merchant Name: </label>
  <input type="text" id="merchant-name" name="name" required>
  <br>
  <input type="submit" value="Add New Merchant" class="btn">
</form>
