
/* general */
body {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #242424;
}

main {
	margin:50px auto;
	padding:30px;
	width: 1100px;
}

h1, h2, #site-title, #hero {
	font-family: 'Montserrat Alternates', sans-serif;
}

.notification{
	padding: 10px;
	border: 1px solid #FA5E6D;
	background-color: #FFD3D7;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:50px;
	background-color: #9EF1E6;
	color: #242424;
	z-index:1;
}

#site-title {
	width: 30%;
	height: 28px;
	padding: 12px;
	font-size: 1.25em;
  letter-spacing: .08em;
}

#site-title a {
	color: #242424;
	text-decoration: none;
}

/* navigation */
nav {
	font-weight: bold;
	width: 50%;
}

nav > ul {
	list-style: none;
	padding-left:0;
	margin:0;
	display: flex;
	justify-content: space-around;
}

nav li {
	max-height: 50px;
	position:relative;
}

nav li a {
	padding: 14px 20px;
	color: #000;
	text-decoration: none;
	background-color: #9EF1E6;
	transition: background-color 400ms ease-in;
}

nav li a:hover,
nav li a:focus {
	background-color: #71E0D0;
}

/** submenu **/
nav > ul > .has-submenu > a::after {
	content: ' *';
}

.has-submenu > ul {
	display:flex;
	flex-direction: column;
	list-style: none;
	height: auto;
	position:absolute;
	top: 35px;
	padding-left:0;
	padding-top:20px;
	width:100%;
	min-width: 130px;
	background-color: #9EF1E6;
	opacity: 0;
	transition: opacity 400ms ease-in;
	z-index: 10;
}

.has-submenu:hover > ul,
.has-submenu:focus > ul {
	opacity:1;
}

.has-submenu > ul > li {
	height:50px;
}

/* home */
#hero {
	font-size: 2.5em;
	padding: 50px;
	line-height: 1.25em;
}

#home-options {
	display: flex;
	justify-content: space-around;
	margin-top:50px;
}

.card {
	width:28%;
	border-radius: 10px;
	height:200px;
	background-color: #FFD3D7;
	border: 1px solid #FFFFFF;
	font-size: 1.25em;
	text-align:center;
	box-shadow:0;
	transition: all 400ms ease-in;
}

.card:first-child,
.card:first-child {
	background-color: #FFEFD3;
}

.card:last-child,
.card:last-child {
	background-color: #D1FCF6;
}

.card:hover,
.card:focus {
	background-color: #FEA6AF;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px #eee;
}

.card:first-child:hover,
.card:first-child:focus {
	background-color: #FFE0A7;
}

.card:last-child:hover,
.card:last-child:focus {
	background-color: #9EF1E6;
}

.card > p {	padding: 70px 0px; }
.card a {
	color: #242424;
	text-decoration:none;
}

/* Forms */
.inline-form {
	display: inline-block;
}

input,
select {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	color: #666;
	margin-bottom: 10px;
	cursor: pointer;
}

label {
	display:inline-block;
	width: 150px;
}

.action-buttons {
	padding-bottom:10px;
}

.btn {
	padding: 10px 20px;
	margin: 10px;
	margin-left:0;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	text-decoration: none;
	color: #666;
	box-shadow: 0;
	transition: all 400ms ease-in;
}

.btn-small {
	padding: 5px 10px;
	font-size: 0.95em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.btn:hover {
	box-shadow: 5px 5px 5px #eee;
	color: #242424;
}

fieldset {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
}

.radio-label {
	margin-right: 20px;
}
