/** Content
*
* General
* Header
* Navigation
** Submenu
* Home
* Forms
* Tables
* Media Queries
*
**/

/* General */
body {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #242424;
}

main {
	box-sizing: border-box;
	margin:50px auto;
	padding:30px 0;
	width: 90vw;
}

h1, h2, #site-title, #hero {
	font-family: 'Montserrat Alternates', sans-serif;
}

.notification{
	padding: 10px;
	border: 1px solid #FA5E6D;
	background-color: #FFD3D7 !important;
}

p.notification {
	margin: 30px 0;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:50px;
	background-color: #9EF1E6;
	color: #242424;
	z-index:1;
}

#site-title {
	width: 35%;
	height: 28px;
	padding: 12px;
	font-size: 1.25em;
  letter-spacing: .08em;
}

#site-title a {
	color: #242424;
	text-decoration: none;
}

/* Navigation */
nav {
	font-weight: bold;
	width: 65%;
}

#main-navigation {
	list-style: none;
	padding-left:0;
	margin:0;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

nav li {
	max-height: 50px;
	position:relative;
}

nav li a {
	display: inline-block;
	padding: 14px 20px;
	color: #000;
	text-decoration: none;
	background-color: #9EF1E6;
	transition: background-color 400ms ease-in;
}

nav li a:hover,
nav li a:focus {
	background-color: #71E0D0;
}

/** Submenu **/
.has-submenu > a::after {
	content: url('../images/arrow_down.png');
	margin-left: 5px;
}

.has-submenu > ul {
	display:flex;
	flex-direction: column;
	list-style: none;
	height: auto;
	position:absolute;
	top: 48px;
	padding-left:0;
	padding-top:20px;
	width:100%;
	min-width: 130px;
	background-color: #9EF1E6;
	opacity: 0;
	transition: opacity 400ms ease-in;
	z-index: 10;
}

.has-submenu:hover > ul,
.has-submenu a:focus + ul {
	opacity:1;
}

.has-submenu:hover > a::after,
.has-submenu > a:focus::after {
	content: url('../images/arrow_up.png');
}

.has-submenu > ul > li {
	height:50px;
}

/** Menu Toggle **/
#menu-toggle {
	display: none;
	background-color: #9EF1E6;
	border: 2px solid #71E0D0;
	border-radius: 5px;
	padding: 10px;
	width:55px;
	font-family: 'Montserrat Alternates', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: none;
	transition: all 400ms ease-in;
	z-index: 5;
}

#menu-toggle:hover,
#menu-toggle:focus {
	background-color: #71E0D0;
	box-shadow: 5px 5px 5px #4AC4B4;
}

#menu-toggle-checkbox {
	display:none;
}

/* Home */
#hero {
	font-size: 2.5em;
	padding: 50px;
	line-height: 1.25em;
}

#home-options {
	display: flex;
	justify-content: space-around;
	margin-top:50px;
}

.card {
	width:28%;
	border-radius: 10px;
	height:200px;
	background-color: #FFD3D7;
	border: 1px solid #FFFFFF;
	font-size: 1.25em;
	text-align:center;
	box-shadow:0;
	transition: all 400ms ease-in;
}

.card:first-child,
.card:first-child {
	background-color: #FFEFD3;
}

.card:last-child,
.card:last-child {
	background-color: #D1FCF6;
}

.card:hover,
.card:focus {
	background-color: #FEA6AF;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px #eee;
}

.card:first-child:hover,
.card:first-child:focus {
	background-color: #FFE0A7;
}

.card:last-child:hover,
.card:last-child:focus {
	background-color: #9EF1E6;
}

.card > p {	padding: 70px 0px; }
.card a {
	color: #242424;
	text-decoration:none;
}

/* Show Content */
.user-details,
.merchant-details,
.tag-details,
.transaction-details {
	padding: 20px 0;
}

.user-details strong,
.merchant-details strong,
.tag-details strong,
.transaction-details strong {
    min-width: 150px;
    display: inline-block;
}

/* Forms */
.inline-form {
	display: inline-block;
}

#filter {
	padding: 30px 0;
	width:60%;
	margin-left:auto;
	margin-right: auto;
}

input,
select {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	color: #666;
	margin-bottom: 10px;
	cursor: pointer;
}

label:not(#menu-toggle) {
	font-weight: bold;
	display:inline-block;
	min-width: 150px;
}

.action-buttons {
	display: flex;
	margin-top:10px;
	margin-bottom:10px;
}

.action-buttons a {
	margin:0;
	margin-right: 10px;
	display:inline-block;
}

.btn {
	padding: 10px 20px;
	margin: 10px;
	margin-left:0;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	text-decoration: none;
	color: #666;
	box-shadow: none;
	transition: all 400ms ease-in;
}

.inline-form .btn {
	margin-top:0;
	margin-bottom:0;
}

.btn-small {
	padding: 5px 10px;
	font-size: 0.95em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.btn:hover {
	box-shadow: 5px 5px 5px #eee;
	color: #242424;
}

fieldset {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
}

.radio-label {
	margin-right: 20px;
}

/* Tables */
table {
	table-layout: auto;
	width: 100%;
	margin: 30px 0;
	border-collapse: collapse;
}

table caption {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.6em;
	padding-bottom: 20px;
	padding-left:15px;
	text-align: left;
}

table th, table td {
	border-bottom: 1px solid #ccc;
	padding: 15px;
}

table th {
	text-align: left;
	font-size: 1.25em;
	background-color: #FFEFD3;
	border-bottom-color: #FFE0A7;
}

tr.show-total {
	font-weight: bold;
}

tr.show-total > td:not(:last-child) {
	text-align: right;
}

tr.notification {
	border-left: none;
	border-right: none;
}

tr.notification > td {
	border-bottom-color: #FA5E6D;
}

/* Media Queries */
@media (max-width: 992px) {
	#site-title {
		width: 90%;
	}

	nav {
		width: auto;
	}

	#menu-toggle {
		display: block;
		position: absolute;
		right:10px;
		top:2px;
	}

	#main-navigation {
		display: none;
		position: absolute;
		left:0;
		right:0;
		top:35px;
		padding-top: 15px;
	}

	#menu-toggle-checkbox:checked + #main-navigation {
		display: flex;
	}

	.has-submenu > ul {
		top: 47px;
		padding-top:0;
	}

	#filter {
		width:100%;
		margin-left:0;
		margin-right: 0;
	}

}

@media (max-width: 768px) {
	#main-navigation {
		flex-direction: column;
		justify-content: stretch;
		background-color: #9EF1E6;
	}

	#main-navigation li {
		min-height:47px;
		max-height:none;
	}

	.has-submenu > ul {
		display:flex;
		position:relative;
		top:0;
		background-color: #71E0D0;
		opacity:1;
		z-index: none;
	}

	.has-submenu:hover > a::after,
	.has-submenu:focus > a::after {
		content: url('../images/arrow_down.png');
	}

	nav li a,
	nav li a:hover,
	nav li a:focus {
		background-color: inherit;
	}

	nav .has-submenu > li a {
		background-color: #71E0D0;
	}

	nav .has-submenu > li a:hover {
		background-color: #4AC4B4;
	}

	#home-options {
		flex-direction: column;
		margin-top: 0;
	}

	.card {
		width:100%;
		margin-bottom: 20px;
	}

	table td {
		vertical-align: text-top;
	}

	.action-buttons {
		flex-direction: column;
	}

	.action-buttons > a {
		margin-bottom: 10px;
	}
}

@media (max-width: 500px) {
	#site-title {
		letter-spacing: normal;
	}

	main {
		padding:10px;
		margin: 50px 0;
		width: 100%;
	}

	table th, table td {
		padding: 10px;
		border: 1px solid #ccc;
	}

	table th {
		font-size: 1em;
	}
}
