<h1>Tags</h1>

<table>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></td>
    <td>
      <div class="action-buttons">
        <a href="/tags/<%= tag.id %>" class="btn btn-small">View Tag</a>
        <a href="/tags/<%= tag.id %>/edit" class="btn btn-small">Edit Tag</a>
        <a href="/tags/<%= tag.id %>/delete" class="btn btn-small">Delete Tag</a>
      </div>
    </td>
  </tr>
  <% end %>
</table>
