<h1>Tags</h1>

<% for tag in @tags %>

<p><strong>Name:</strong> <%= tag.name %> </p>
<a href="/tags/<%= tag.id %>">View Tag</a></br>
<a href="/tags/<%= tag.id %>/edit">Edit Tag</a>
<a href="/tags/<%= tag.id %>/delete">Delete Tag</a>
<hr>
<% end %>
