<h1>Add a New Tag</h1>

<form method="post" action="/tags">
  <label for="tag-name">Tag Name: </label>
  <input type="text" id="tag-name" name="name">
  <input type="submit" value="Add New Tag">
</form>
